.card-container{
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 3.8px;
    box-shadow: 0 0 19px 0 rgba(68, 68, 68, 0.1);
    border: solid 0.2px #444444;
    background-color: #ffffff;    
 
}
.rating-wrapper{
    position: absolute;
    right: 30px;
    top: 90px;
    z-index: 99;
}